/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900");
@font-face {
  font-family: Track;
  src: url("../fonts/Track-Regular.otf");
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Titillium Web";
}

.btn-speaker-nav {
  border: 2px solid #6022FF;
  background-color: transparent;
  color: white;
  padding: 9px 30px;
  font-family: Track;
  font-size: 12px;
  cursor: pointer;
}

.btn-speaker {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid #6022FF;
  font-family: Track;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

.btn-speaker:hover, .btn-speaker-nav:hover {
  background-color: #6022FF;
  transition: 0.3s ease;
}

.banner-loc {
  height: 40vh;
  background: linear-gradient(90deg, #845EC2 0%, #3100ac 100%);
}

.banner-spo {
  height: 25vh;
  background: linear-gradient(90deg, #845EC2 0%, #2C73D2 100%);
}

.title {
  font-size: 40px !important;
}

.image-scale {
  transition: 0.3s ease;
  cursor: pointer;
}

.image-scale:hover {
  transform: scale(1.06);
}

.form-a-link, .form-a-link:hover {
  color: #d9c2ff;
  text-decoration: underline;
}

#sponsors {
  background-color: white;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.col-spo img {
  width: 100%;
}

.banner-loc-overlay {
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.06'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: "Titillium Web";
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%2325045a' fill-opacity='0.2'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo-container {
  width: 200px;
  height: 47px;
}

.icon-logo-main-hero-image-container {
  height: 50px;
}

#nav-logo {
  width: 200px;
  display: none;
  transition: 0.3s ease;
}

nav {
  background-color: #000;
  position: fixed !important;
  width: 100%;
  z-index: 2;
}

.center-flex {
  display: flex;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.center-flex h1 {
  font-size: 25px;
}

.navbar-brand {
  font-family: "Titillium Web";
  font-size: 25px;
}

.logo-icon {
  width: 300px;
  margin-bottom: 30px;
}

.banner {
  min-height: 900px;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.34);
}

.date-p, .loc-p {
  font-family: "Track";
  margin-top: 20px;
}

.hero-text {
  color: white;
  display: flex;
  text-align: left;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
}

.img-div {
  height: 60vh;
  background-image: url("../img/nb.jpg");
  background-position: center;
  background-size: cover;
}

.img-div-sponsors {
  height: 60vh;
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-size: cover;
}

.overlay {
  height: 100%;
}

.bg-stripes {
  height: 10vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23180c49' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.lead-hero-text {
  font-size: 2.2rem;
}

.text-container {
  width: 70%;
}

.people {
  display: flex;
  height: 70vh;
  align-items: center;
}
.people i {
  font-size: 40px;
  margin-bottom: 20px;
  display: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.p-lg {
  font-size: 20px !important;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    font-size: 30px;
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
body {
  overflow-x: hidden;
}
body svg {
  height: 150px;
  margin: auto;
  display: block;
}
body svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
body svg path.st1 {
  stroke-width: 2;
}

.link:after {
  content: "";
  width: 200%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
}

.link-t:after {
  content: "";
  width: 200%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
}

.link-green:after {
  background: linear-gradient(90deg, #1d6200 0%, #00b25c 50%);
}

.link-purple:after {
  background: linear-gradient(90deg, #6022FF 0%, #6022FF 50%);
}

.link-pink:after {
  background: linear-gradient(90deg, #620021 0%, #b2003b 50%);
}

.link-cyan:after {
  background: linear-gradient(90deg, #005662 0%, #00B29A 50%);
}

.link {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.link-t {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#svg-icon-code {
  height: 115px;
  margin-right: 20px;
  animation: float 2s ease-in-out infinite;
}

.st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}

.btn-speaker:hover {
  animation: float 2s ease-in-out infinite;
}

.float-animate {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
#code-debugcon {
  margin: 0px;
  position: absolute;
  right: 0%;
  height: 400px;
  bottom: 0;
  overflow: hidden;
  opacity: 0.1;
}
#code-debugcon .st0 {
  fill: none;
  stroke: #6022FF;
  stroke-width: 5px;
  stroke-miterlimit: 10;
}

#code-debugcon-overlay {
  margin: 0px;
  position: absolute;
  height: 400px;
  bottom: 0;
  overflow: hidden;
  opacity: 0.1;
}
#code-debugcon-overlay .st0 {
  fill: none;
  stroke: #6022FF;
  stroke-width: 5px;
  stroke-miterlimit: 10;
}

.speakers {
  padding-top: 150px;
  padding-bottom: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speakers .clip-border {
  width: 150px;
  height: 100%;
  position: absolute;
}
.speakers img {
  width: 100%;
  padding: 5px;
  border-radius: 13px;
}

@media only screen and (max-width: 767px) {
  .lead-hero-text {
    font-size: 1.5rem !important;
  }

  .banner {
    min-height: 900px;
    height: 100%;
    padding-top: 100px;
  }

  .logo-icon {
    width: 100%;
  }

  .date-lead, .date-p {
    font-size: 15px !important;
  }

  .banner-loc {
    height: 100%;
  }

  .people {
    height: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .people .margin-mobile {
    margin-top: 40px;
  }

  .center-flex {
    flex-direction: column;
    width: 90%;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .center-flex .head-text {
    font-size: 20px !important;
    margin-top: 20px;
    text-align: center;
  }

  #person-div {
    padding: 10px;
  }

  .speakers .clip-border {
    width: 82px;
    height: 100%;
    background-color: #FFF;
    clip-path: circle(0px at center);
    position: absolute;
  }
  .speakers img {
    width: 100%;
    clip-path: none;
  }

  .btn-speaker-nav {
    margin-top: 15px;
    margin-bottom: 26px;
  }

  .btn-speaker {
    padding: 10px;
    font-size: 16px !important;
  }

  nav {
    font-size: 20px;
  }

  .banner-spo {
    text-align: center;
    min-height: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  #nav-logo {
    width: 240px;
  }

  .date-lead,
.date-p {
    font-size: 21px;
  }

  .btn-speaker {
    font-size: 21px;
  }

  .banner-loc {
    height: 100%;
  }

  .people {
    height: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .people .margin-mobile {
    margin-top: 40px;
  }

  .p-sm {
    font-size: 23px;
  }

  .center-flex {
    flex-direction: column;
    width: 90%;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .center-flex .head-text {
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
  }

  nav {
    font-size: 23px;
  }
  nav .btn-speaker-nav {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
  }
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.curly-left {
  width: 50px !important;
  left: 0;
  position: absolute;
  bottom: 15%;
  z-index: 2;
}

.curly-right {
  width: 50px !important;
  right: 0;
  position: absolute;
  bottom: 15%;
  transform: rotate(180deg);
  z-index: 2;
}

.text {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #6022FF;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  padding: 10px 30px;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-white a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=main-dist.css.map */
